.footer-container {

    padding: 25px 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    p {
        cursor: pointer;
        transition: color .2s ease-in-out, border .2s ease-in-out;
    }

    p:hover {
        color: #B59571;
        border-bottom: 1px solid #B59571;
    }

    p:active {
        color: darken(#B59571, 20%);
    }
}