.twoPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    .photo {
        display: flex;
        flex-direction: column;

        div {
            padding: 10px 25px;
            border: 1px solid grey;

            img {
                transition: transform .2s ease-in-out;
            }

            
            img:hover {
                transform: translateY(35px);
            }
        }

        span {
            margin-top: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 28px;


            .line {
                margin-top: 32px;
                margin-left: 20px;
                width: 60px;
                height: 3px;
                background: #B59571;
                transform: translateY(-13px);

            }

        }

    }
}