.mainHeader {
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background: url(../../../public/header/background-header.png) center no-repeat;

    header {
        padding: 50px 50px 0 0;
        display: flex;
        justify-content: end;

        ul {
            display: flex;
            gap: clamp(20px, 5vw, 50px);
            align-items: center;
            list-style: none;
            color: #FFFFFF;
            font-size: 2vw;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;

            li {
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                transition: background-color .2s ease-in-out;
            }

            li:nth-child(4) {
                background-color: #B59571;
            }

            li:hover {
                background-color: #B59571;
            }

            
            li:active {
                background-color: darken(#B59571, 20%);
            }
        }
    }

    p {
        padding-top: 300px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 54px;
        color: #FFFFFF;
    }
}